<div>
  <mat-form-field appearance="fill">
    <mat-label>Choose your language</mat-label>
    <mat-select [disabled]="disableSelect.value">
      <mat-option value="option1">Node JS</mat-option>
      <mat-option value="option2" disabled>Java (disabled)</mat-option>
      <mat-option value="option3">Python</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="space">
  <mat-divider></mat-divider>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listdata">
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="difficulty">
      <mat-header-cell *matHeaderCellDef>Difficulty</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.difficulty}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color={{getColor(element)}}>
          <mat-icon>{{getStatusIcon(element)}}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="launch">
      <mat-header-cell *matHeaderCellDef>Launch</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary">
          <mat-icon>launch</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
  </mat-table>
</div>
