<div class="container">
  <mat-card class="tutorial-card">
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab
          *ngFor="
            let tabContent of tutorialContent.content | keyvalue: tabOrder
          "
          [label]="tabContent.key | titlecase"
          ><markdown ngPreserveWhitespaces [data]="tabContent.value"></markdown
        ></mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <mat-card class="terminal-card">
    <mat-card-header class="vital-card-header">
      <mat-icon mat-card-avatar aria-hidden="false" aria-label="Code icon">
        code
      </mat-icon>
      <mat-card-title>Terminal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <iframe [src]="sandbox.terminalUrl"></iframe>
    </mat-card-content>
  </mat-card>
  <mat-card class="website-card">
    <mat-card-header class="vital-card-header">
      <mat-icon mat-card-avatar aria-hidden="false" aria-label="Language icon">
        language
      </mat-icon>
      <mat-card-title>Website</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <iframe [src]="sandbox.websiteUrl"></iframe>
    </mat-card-content>
  </mat-card>
</div>
