@import '../../../assets/scss/partials/mixins';

:host {
  @include page-style;
}

.container {
  flex-grow: 1;
  max-height: calc(100vh - 64px - 2rem);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-areas:
    'tutorial tutorial tutorial terminal terminal terminal terminal terminal'
    'tutorial tutorial tutorial website website website website website';
}

.tutorial-card {
  grid-area: tutorial;
}

.terminal-card {
  grid-area: terminal;
}

.website-card {
  grid-area: website;
}

mat-card {
  display: flex;
  flex-direction: column;

  & mat-card-content {
    flex-grow: 1;
  }
}

iframe {
  display: block;
  height: 100%;
  width: 100%;
  border: 2px solid lightblue; // TODO color
  border-radius: 5px;
}
