@import '../../assets/scss/partials/global';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* + * {
  margin-top: 1rem;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
