@import '../../assets/scss/partials/global';

//Todo: dicuss better way of formatting the design
.title {
  margin-left: 6rem;
}

.logo {
  margin-top: 6rem;
}

.full-form {
  margin-left: 5rem;
}

.login-card {
  margin-bottom: 2rem;
  margin-right: 6rem;
  margin-top: 5rem;
}
