@import '../../assets/scss/partials/global';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-page {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
