<div class="vital-default-theme login-page">
  <div>
    <div class="logo">
      <img src="../../assets/images/Asset 4.svg" />
      <div class="full-form">
        <strong
          ><h1>
            Vulnerabilities Identification, Tackling, and Learning
          </h1></strong
        >
      </div>
    </div>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ngx-auth-firebaseui-providers
        layout="column"
        [providers]="[
          providers.Google,
          providers.Facebook,
          providers.Github,
          providers.Microsoft,
          providers.Twitter
        ]"
        (onSuccess)="login($event)"
      ></ngx-auth-firebaseui-providers>
    </mat-card-content>
  </mat-card>
</div>

<app-footer></app-footer>
