:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--vital-text);
}

#updating-message {
  white-space: pre; // So that the text doesn't move
}
