<div>
  <mat-form-field appearance="fill">
    <mat-label>Choose your language</mat-label>
    <mat-select
      [disabled]="disableSelect.value"
      [(value)]="selectedLanguage"
      (selectionChange)="changeLanguage($event.value)"
    >
      <mat-option value="node">Node JS</mat-option>
      <mat-option value="java" disabled>Java (disabled)</mat-option>
      <mat-option value="python">Python</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="space">
  <mat-divider></mat-divider>
</div>
<div class="search-div">
  <mat-form-field class="search-form-field">
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Search"
      autocomplete="off"
      (keyup)="searchTable()"
    />
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()" *ngIf="searchKey">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listdata" matSort>
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="difficulty">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Difficulty</mat-header-cell
      >
      <mat-cell *matCellDef="let element">{{ element.difficulty }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="{{ getColor(element) }}">
          <mat-icon>{{ getStatusIcon(element) }}</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="launch">
      <mat-header-cell *matHeaderCellDef>Launch</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button (click)="onClick(row)" mat-icon-button color="primary">
          <mat-icon>launch</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
    <mat-footer-row
      [ngClass]="{ hide: listdata != null }"
      *matFooterRowDef="['loading']"
    ></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="5"></mat-paginator>
</div>
