/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'assets/scss/partials/global';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.vital-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  & .mat-card-title {
    margin: 0 !important;
  }
}

// Have to style this on global styles, as the rendered markdown doesn't
// abide by the Angular scoping rules
markdown {
  & blockquote {
    border-left: 5px solid gray;
    margin-left: 0;
    padding-left: 1rem;
    font-style: italic;
  }

  & code[class*='language-'],
  pre[class*='language-'] {
    white-space: pre-wrap !important;
  }
}
