/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'assets/scss/partials/global';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.vital-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  & .mat-card-title {
    margin: 0 !important;
  }
}

// Have to style this on global styles, as the rendered markdown doesn't
// abide by the Angular scoping rules
markdown {
  & blockquote {
    border-left: 5px solid var(--vital-grey);
    margin-left: 0;
    padding-left: 1rem;
    font-style: italic;
  }

  & code[class*='language-'],
  pre[class*='language-'] {
    white-space: pre-wrap !important;
  }
}

// Consolidating the entire hack to show the header on top over here
// 1. Kill the padding at the top and bottom to avoid te z-index of the tab body causing problems
// 2. overflow-y to auto to introduce a scroll is required
// 3. mat-tab-header  and mat-card-actions are sticky with high z-index to make them appear as though
// user is scrolling body
.tutorial-card {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow-y: auto;
  & mat-tab-header {
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: var(--vital-background);
  }

  & mat-card-actions {
    z-index: 100;
    position: sticky;
    bottom: 0;
    background-color: var(--vital-background);
    padding-bottom: 1rem !important;
    margin-bottom: 0 !important;
  }
}
